.container-fluid {         
    background-image: url(/assets/images/cirque.jpg);
    background-attachment:fixed;
    background-size: cover;     
    height: 100vh;
    margin-right: 0;
    margin-left: 0;
    border: 3px solid red;
}

h2 {
    position: absolute;
    color:white;
    border: 3px solid red;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.history {
    position: relative;
    top: 50%; 
    margin-left: 10%;
    margin-right: 10%;   
    border: 3px solid red;
    color: white;
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
    .history {
        top: 30%;
    }
}