<div class="container-fluid">
    <div class="row">
        <h2>Wild Circus</h2>
    </div>
    <p class="history">The modern and commonly held idea of a circus is of a Big Top with various acts providing
         entertainment therein. However, the history of circuses is more complex, with historians disagreeing on
          its origin, as well as revisions being done about the history due to the changing nature of historical
           research, and the ongoing circus phenomenon. For many, circus history begins with Englishman Philip Astley, 
           while for others its origins go back much furthe.</p>
</div>